name: go-editor
lang: go
git:
  enable: true
  hooks:
    enable: true
github:
  enable: true
gitignore:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  managed_sections:
    - version
    - name
    - agent
    - global_job_config
